.comics-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 20px;
}

.comic-card {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 200px;
  text-align: center;
  border-radius: 5px;
}

.comic-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.content-title {
  font-size: 25px;
  margin: 5px;
}
.content-description {
  color: rgb(32, 32, 32);
}